
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>
    According to estimates from the U.S. Bureau of Labor Statistics, about 1 in 4 Americans donate their time each year as volunteers. 
    A growing number of U.S. municipalities are capitalizing on residents’ willingness to pitch in with new volunteer programs that support stormwater management and protect vulnerable waterways.
    <a href="https://stormwater.wef.org/2019/05/volunteers-adopt-a-drain-to-improve-urban-stormwater-management/"></a>
</p>