@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-12 text-center">
            <h1 class="mb-1">Protect Tampa's Water</h1>
            <h3 class="mb-3">Clean your city's drains.</h3>
            <a class="btn btn-primary" asp-action="AdoptADrain" asp-controller="Home" asp-area="">Adopt A Drain</a>
        </div>
    </div>
    <!-- /.row -->
</div>

<div class="fullWidthContainer aad-dark">
    <div class="container">
        <div class="p-5 text-white text-center">
            <h3 class="mb-3">Adopting A Drain</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim!</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="p-5 text-center">
        <h3 class="mb-3">How To Clear A Drain</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim!</p>
    </div>
</div>

<div class="fullWidthContainer aad-dark">
    <div class="container">
        <div class="p-5 text-white ">
            <h3 class="mb-3 text-center">Why adopt a drain?</h3>
            <p>
                Adopting a neighborhood storm drain is an easy way for residents to improve their local waterways.
                Some storm drains are placed, unfortunately, in some not prisitne evironments collecting water from sidewalks, roads and drain pipes. Drain blockage by debris is a frequent issue and main cause
                of flooding which results in drains not operating correctly. This blockage can cause damage to the surrounding environment. Different kinds of debris can cause drain blockage and that is why we are organiznig
                residents to support overseeing their drains, taking action or reporting to the county for greater concerns or assistance.
            </p>
            <p>
                In addition to storm drain blockage another major concern is the illegal dumping of harmful liquids and solids.
                The moving water can become mixed with chemicals, pesticides, fertilizers, motor oil and car fluids which runoff from homes and businesses.
                Stormwater pollution poses a health risk, harms marine life, closes beaches, contaminates the ocean, impacts the economy, harms the environment, affects neighborhoods and property values, clogs gutters and catch basins, attracts rodents, creates unpleasant odors, and adds to the City's operating expenses.
            </p>
        </div>

    </div>
</div>
<div class="container">
    <div class="p-5 text-center">
        <h3 class="mb-3">Who we are?</h3>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/img/9374504.jpg" class="img-fluid img-thumbnail"/>
            </div>
            <div class="col-sm-6">
                <img src="~/img/c4a.png" class="img-fluid img-thumbnail" />
            </div>
           
        </div>
    </div>
</div>

<div class="fullWidthContainer aad-dark">
    <div class="container">
        <div class="p-5 text-white ">
            <h3 class="mb-3 text-center">Why adopt a drain?</h3>
            <p>
                Adopting a neighborhood storm drain is an easy way for residents to improve their local waterways.
                Some storm drains are placed, unfortunately, in some not prisitne evironments collecting water from sidewalks, roads and drain pipes. Drain blockage by debris is a frequent issue and main cause
                of flooding which results in drains not operating correctly. This blockage can cause damage to the surrounding environment. Different kinds of debris can cause drain blockage and that is why we are organiznig
                residents to support overseeing their drains, taking action or reporting to the county for greater concerns or assistance.
            </p>
            <p>
                In addition to storm drain blockage another major concern is the illegal dumping of harmful liquids and solids.
                The moving water can become mixed with chemicals, pesticides, fertilizers, motor oil and car fluids which runoff from homes and businesses.
                Stormwater pollution poses a health risk, harms marine life, closes beaches, contaminates the ocean, impacts the economy, harms the environment, affects neighborhoods and property values, clogs gutters and catch basins, attracts rodents, creates unpleasant odors, and adds to the City's operating expenses.
            </p>
        </div>

    </div>
</div>