
@{
    ViewData["Title"] = "AdoptedDrains";
    Layout = "~/Areas/Manage/Views/Shared/_AdoptLayout.cshtml";
}

@model AdoptADrain.Areas.Manage.ViewModels.UserAdoptedDrainsVM
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="pt-3">Adopted Drains</h1>
                <h2 class="pt-5">Welcome @User.Identity.Name</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pb-5">
                @* No Drains *@
                <h4>Get started by adopting your first drain!</h4>
                <a class="btn btn-primary" asp-controller="Drain" asp-action="Adopt" asp-area="Manage">Adopt A Drain</a>

                @* Has Drains List the Drains *@
                @*<h3>Your adopted drains:</h3>
                <ul class="list-group list-group-flush">
                    @foreach (var adoptedDrain in Model.AdoptedDrains)
                    {
                        <li class="list-group-item">@adoptedDrain.Name</li>
                    }
                </ul>*@
            </div>
        </div>

    <div class="text-center mb-1">
        <a asp-controller="Drain" asp-action="Register" asp-area="Manage">Don't see a drain? Register it!</a>
    </div>
    </div>

