
@{
    ViewData["Title"] = "Adopt";
    Layout = "~/Areas/Manage/Views/Shared/_AdoptLayout.cshtml";
}
@inject IConfiguration configuration

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="pt-3 pb-3">Adopt A Drain</h1>
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=@configuration["GoogleMaps:MapsJSApi"]"></script>
<script>
    'use strict'
    let map
    let infoWindow;
    initMap();
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 27.949536, lng: -82.452229 },
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

    }
</script>