@inject IConfiguration configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdoptADrain</title>

    <environment include="Development">
        <link href="~/bootswatch/flatly/bootstrap.css" rel="stylesheet" />
        <link href="~/font-awesome/css/all.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/bootswatch/flatly/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    </environment>


</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-dark navbar-expand-lg aad-primary-color fixed-top">
        <div class="container">
            <ul class="mr-auto m-md-auto">
                <li class="nav-item active"><a href="#WAAD">Why Adopt A Drain</a></li>
                <li class="nav-item active"><a href="#AAD">Adopting A Drain</a></li>
                <li class="nav-item active"><a href="#HTCAD">How To Clear A Drain</a></li>
                <li class="nav-item active"><a href="#ABOUT">About Tampa's Adopt A Drain Program</a></li>
                <li class="nav-item active"><a asp-controller="Drain" asp-action="Adopt" asp-area="Adopt">Login</a></li>
            </ul>
                @*<a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">Tampa's Adopt A Drain</a>*@
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mr-auto m-md-auto">
                        <li class="nav-item active"><a href="#WAAD">Why Adopt A Drain</a></li>
                        <li class="nav-item active"><a href="#AAD">Adopting A Drain</a></li>
                        <li class="nav-item active"><a href="#HTCAD">How To Clear A Drain</a></li>
                        <li class="nav-item active"><a href="#ABOUT">About Tampa's Adopt A Drain Program</a></li>
                        <li class="nav-item active">
                        <a class="nav-link" asp-action="Index" asp-controller="Home" asp-area="">Home</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-action="About" asp-controller="Home" asp-area="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AdoptADrain" asp-controller="Home" asp-area="">Adopt A Drain</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Contact" asp-controller="Home" asp-area="">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="CreditTo" asp-controller="Home" asp-area="">Sponsors</a>
                    </li>
                    </ul>
                </div>*@
        </div>
    </nav>

    <!-- Page Content -->
    <div class="pageContent">
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer class="py-3">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; @DateTime.Now.Year  Code for Tampa Bay </p>
        </div>
        <!-- /.container -->
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/font-awesome/js/all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4="></script>
        <script src="~/font-awesome/js/all.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }
    </script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=@configuration["GoogleMaps:MapsJSApi"]&callback=initMap" async defer></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>