/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*header text*/
@import url('https://fonts.googleapis.com/css?family=Questrial:400&display=swap');

/*body text*/
@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600&display=swap');

body {
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.15;
}

h1, h2, h3, h4, h5 {
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3, .h3 {
    font-size: 2.25rem;
    color: #0c476a;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1.15rem;
    margin-bottom: 15px;
}

a {
    color: #212529;
}
a:hover {
    color: initial;
}

li {
    font-size: .98em;
}

.row + .row {
    margin-top: 15px;
}

.btn {
    font-size: 1.15rem;
    font-weight: 500;
    padding: 12px 28px;
    border-radius: 24px;
    background-color: #217FD3;
    border: 0;
}
    .btn:hover {
        background-color: #1672D3;
    }

nav {
    /*background-color: #1D4C7A;*/
    background-color: RGBa(17, 44, 70,.95);
}
.navbar {
    padding: 16px 15px 15px;
    text-align: center;
}
.navbar ul {
    padding: 0;
    margin: 0;
}
.nav-item {
    font-size: .9rem;
    padding: 0 15px;
    font-weight: 500;
    border-right: 1px solid #FFF;
    list-style: none;
    display: inline-block;
    line-height: 1.5em;
}
.nav-item:last-of-type {
    border: 0;
}
    .nav-item a {
        color: #FFF;
    }
        .nav-item .dropdown-menu a {
            color: #212529;
        }
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #FFF;
    color: #FFF;
    text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #FFF;
    text-decoration: underline;
}
.hero {
    background-color: #FFF;
    background-image: url(/img/hero.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 240px 0 200px;
    color: #FFF;
}
@media (max-width: 991px) {
    .hero {
        background-attachment: fixed;
        padding: 200px 0 180px
    }
        .hero h1 {
            font-size: 3rem;
        }
        h3, .h3 {
            font-size: 2rem;
        }
}
@media (max-width: 576px) {
    .hero {
        padding: 150px 0 120px
    }
        .hero h1 {
            font-size: 2.5rem;
        }
        .hero h3 {
            font-size: 1.6rem;
        }
}
@media (max-width: 500px ) {
    .hero {
        padding: 90px 0 120px;
    }
    .navbar.fixed-top {
        position: relative;
        background-color: rgb(17, 44, 70);
    }
}
.hero h3 {
    color: #BAD5F2;
}
footer {
    background-color: RGB(17, 44, 70);
}

.aad-mid {
    background-color: #d6e6f7;
}
.aad-dark {
    background-color: #1b3d5c;
}
    .aad-dark h3 {
        color: #FFF;
    }

.fullWidthContainer {
}

input {
    border-radius: 50px;
    background-color: #fbfbfb;
    border: 0;
    padding: 10px 20px;
}
#map {
    height: 100%;
}
@media (max-width: 771px) {
    #map {
        padding-top: 300px !important;
        height: 400px !important;
    }
}
.mapEnter {
    padding: 30px;
}

.drainShadow {
    /*box-shadow: inset .3rem .3rem .6rem rgba(0, 0, 0, 0.4);*/
    background-color: #132C42;
    color: #FFF;
}







/**COLOR PALETTES**/
/* Palette generated by Material Palette - materialpalette.com/blue-grey/indigo */

.dark-primary-color {
    background: #455A64;
}

.default-primary-color {
    background: #607D8B;
}

.light-primary-color {
    background: #CFD8DC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #536DFE;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

/*.aad-primary-color {
    background: #16425B;
}*/
.aad-footer {
    /*background: #011928;*/
    background-image: url("../images/bg-pattern.jpg")
}

.aad-btn {
    background-color: #1b6ebc;
}

    .aad-btn:hover {
        background-color: #1b9abc;
    }

.aad-alert {
    background-color: #d2dce4;
}
/**END OF COLOR PALETTES**/

/*** Site Selection Map ***/
@media (min-width: 576px) {
    #screenerSitesMap {
        overflow-y: hidden;
        max-height: 500px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

        #screenerSitesMap.closed {
            max-height: 0;
        }

    #map {
        padding-top: 500px;
        height: 600px;
    }

    #addressInputRow.disabled ~ #placeHolder {
        height: 450px;
    }
}

@media (max-width: 575px) {
    #map {
        padding-top: 200px;
        height: 300px;
    }

    #addressInputRow.disabled ~ #placeHolder {
        height: 150px;
    }
}

#sites {
    overflow-y: auto;
    max-height: 500px;
}

.siteSelect {
    background-color: #F3F3F3;
    padding: 15px;
}

    .siteSelect a {
        display: inline-block;
        margin-top: 10px;
    }

.siteContent {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaafb4;
    font-size: 90%;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

    .siteContent:hover {
        cursor: pointer;
        background-color: #eaf1f6;
    }

.pinBG {
    background-color: #054869;
    color: #FFF;
    padding: 4.5px 9px;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
}

.siteSelectBtn {
    border: 3px solid #2bc797;
    background-color: transparent;
    border-radius: 30px;
    font-size: 1em;
    line-height: 1em;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    transition: ease 0.2s;
}

    .siteSelectBtn:hover {
        cursor: pointer;
        background-color: #2bc797;
        color: #FFF;
    }

.no-gutters .img-fluid {
    padding-right: 5px;
}

.drain-popup {
    font-family: 'Nunito', sans-serif;
}

    .drain-popup .aad-btn {
        margin-top: 10px;
    }

.drain-num {
    font-size: 18px;
    font-weight: 600;
}

.disabled {
    opacity: .4;
    pointer-events: none;
}

.alert {
    border-radius: 0;
}

#topAlertMessageContent {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}
/* Spinner */
.lds-grid {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    transform: scale(1.2);
}

    .lds-grid div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #0e4863;
        animation: lds-grid 1.2s linear infinite;
    }

        .lds-grid div:nth-child(1) {
            top: 6px;
            left: 6px;
            animation-delay: 0s;
        }

        .lds-grid div:nth-child(2) {
            top: 6px;
            left: 26px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(3) {
            top: 6px;
            left: 45px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(4) {
            top: 26px;
            left: 6px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(5) {
            top: 26px;
            left: 26px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(6) {
            top: 26px;
            left: 45px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(7) {
            top: 45px;
            left: 6px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(8) {
            top: 45px;
            left: 26px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(9) {
            top: 45px;
            left: 45px;
            animation-delay: -1.6s;
        }

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

/***Adopt AREA****/
@media (min-width: 501px) {

    .adoptAreaContent {
        padding-top: 53px;
    }
}

