
@{
    ViewData["Title"] = "AdoptedDrains";
    Layout = "~/Areas/Adopt/Views/Shared/_AdoptLayout.cshtml";
}

@inject IConfiguration _config
@model AdoptADrain.Areas.Adopt.ViewModels.UserAdoptedDrainsVM
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="display-4 pt-3">Welcome @User.Identity.Name</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pb-5">
                @* No Drains *@
                <h4>Get started by adopting your first drain!</h4>
                <a class="btn btn-primary" href="#">Adopt A Drain</a>

                @* Has Drains *@
                @*<h3>Your adopted drains:</h3>
                <ul class="list-group list-group-flush">
                    @foreach (var adoptedDrain in Model.AdoptedDrains)
                    {
                        <li class="list-group-item">@adoptedDrain.Name</li>
                    }
                </ul>*@
            </div>
        </div>

        @*<div class="row">
            <div class="col-sm-12">
                <p class="lead">Available Drains for Adoption</p>
                <ul class="list-group list-group-flush">
                    @foreach (var adoptedDrain in Model.AvailableDrains)
                    {
                        <li class="list-group-item">@adoptedDrain.Name</li>
                    }
                </ul>
            </div>
        </div>*@



    <div class="text-center mb-1"><a asp-controller="Drain" asp-action="Register" asp-area="Adopt">Don't see a drain? Register it!</a></div>
    </div>

