
@{
    ViewData["Title"] = "Adopt";
    Layout = "~/Areas/Adopt/Views/Shared/_AdoptLayout.cshtml";
}
@inject IConfiguration _config

<div class="container">
    <div class="row">
        <h4 class="display-4">Welcome @User.Identity.Name</h4>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="lead">Please select from below</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Test</li>
            </ul>
        </div>
    </div>
</div>